# Dependencies
node_modules/

# Build & Package Outputs
dist/
dist2/
dist_build/
*.exe
*.nupkg
RELEASES

# Python Caches
__pycache__/
*.pyc

# Local User Data & Configs
user-config.json
spotify_token.json
widget-debug.log
*.log
*.bak
*.b64
.env
.DS_Store
.claude/
.vscode/
